@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body, #btn-submit{
    font-family: "JetBrains Mono", monospace;
    font-size: 1.5rem;
}

#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: rgb(116,154,28);
    background: linear-gradient(354deg, rgba(116,154,28,1) 0%, rgba(13,71,32,1) 100%);
    padding: 2rem 4rem;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: #f5f5f5;
    
}

#center-div{
    padding: 5px 5px;
}

#btn-submit{
    border: 0px;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #f5f5f5;
}
